<section class="body mt-5">
  <div class="row m-auto d-flex justify-content-center mb-3">
    <h3 class="text-center text-c3 display-4 mt-3">Latest News</h3>
    <mat-icon color="accent" class="display-4 d-none d-sm-inline-block"
      >new_releases</mat-icon
    >
  </div>

  <nav mat-tab-nav-bar class="d-flex justify-content-around">
    <app-search-box
      class="w-100"
      (onSearchAgain)="searchArticle($event)"
      (onFetch)="searchForNewArticle($event)"
    ></app-search-box>
  </nav>

  <!-- ? if error -->
  <div
    *ngIf="isError && !close"
    class="mt-5 alert text-center alert-danger text-center my-5"
  >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span (click)="close = !close" aria-hidden="true">&times;</span>
    </button>
    <h4>{{ isError }}</h4>
  </div>

  <mat-tab-group dynamicHeight *ngIf="!isError">
    <mat-tab *ngFor="let label of tabs">
      <ng-template mat-tab-label>
        <a (click)="getCategory(label)" class="text-decoration-none text-dark">
          {{ label | titlecase }}
        </a>
      </ng-template>
      <!-- ! progress bar ------------------->
      <mat-progress-bar
        *ngIf="isLoading"
        mode="query"
        class="my-5"
        color="accent"
      ></mat-progress-bar>

      <section *ngIf="!isLoading">
        <div class="container-fluid">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div
              class="col my-2 mx-auto"
              *ngFor="let news of newsList; index as i"
              [id]="i"
            >
              <mat-card class="shadow-lg rounded-lg">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                    <mat-icon
                      #heart
                      (click)="forFavorite(news, i)"
                      [color]="news.isFav ? 'primary' : 'warn'"
                    >
                      favorite</mat-icon
                    >
                  </div>

                  <mat-card-title>{{ news.title | titlecase }} </mat-card-title>
                  <mat-card-subtitle
                    >{{ news.author | uppercase }}
                  </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="news.urlToImage" />
                <mat-card-content>
                  <p>
                    {{ news.content }}
                  </p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-around">
                  <a
                    class="mx-auto d-block"
                    mat-fab
                    target="_blank"
                    [href]="news.url"
                    >Read</a
                  >
                </mat-card-actions>
                <p>{{ news.publishedAt | date: "medium" }}</p>
              </mat-card>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</section>
<mat-divider></mat-divider>
<mat-paginator
  class="mb-5 mt-2 d-flex justify-content-center"
  [length]="10"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="pageEvent = getServerData($event)"
>
</mat-paginator>
