<section class="mt-5">
  <nav mat-tab-nav-bar class="d-flex justify-content-around">
    <a mat-tab-link (click)="getNews()">Get Latest news</a>
    <app-search-box
      class="w-100"
      (onSearch)="searchArticle($event)"
      (onFetch)="searchForNewArticle($event)"
    ></app-search-box>
  </nav>

  <mat-tab-group dynamicHeight>
    <mat-tab *ngFor="let label of tabs">
      <ng-template mat-tab-label>
        <mat-icon
          (click)="getCategory(label)"
          class="example-tab-icon"
        ></mat-icon>
        {{ label | titlecase }}
      </ng-template>

      <section>
        <div class="container-fluid">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div
              class="col my-2 mx-auto"
              *ngFor="let news of newsList; index as i"
              [id]="i"
            >
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                    <mat-icon
                      (click)="isFavorite = !isFavorite"
                      [color]="isFavorite && i === 2 ? 'primary' : 'warn'"
                    >
                      favorite</mat-icon
                    >
                  </div>

                  <mat-card-title>{{ news.title | titlecase }} </mat-card-title>
                  <mat-card-subtitle
                    >{{ news.author | uppercase }}
                  </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="news.urlToImage" />
                <mat-card-content>
                  <p>
                    {{ news.content }}
                  </p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-around">
                  <button mat-raised-button color="warn" class="mr-2">
                    edit
                  </button>
                  <button mat-raised-button color="primary" class="mr-2">
                    delete
                  </button>
                  <a
                    class="ml-auto d-block"
                    mat-fab
                    target="_blank"
                    [href]="news.url"
                    >Read</a
                  >
                </mat-card-actions>
                <mat-card> {{ news.publishedAt | date: "medium" }} </mat-card>
              </mat-card>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</section>
