<section
  class="my-5 mx-auto d-flex flex-column justify-content-start align-items-center"
>
  <p class="mt-5 text-center lead font-weight-normal">
    You can get more Details about this project in my :
    <a
      class="text-c2"
      href="https://moulahi.netlify.app/#page3"
      target="_blank"
    >
      Portfolio
    </a>
  </p>
  <div class="mt-5">
    <h5 class="my-3 text-c1">you can use this cred:</h5>
    <h6 class="d-flex flex-column justify-content-between">
      login:admin@admin.com <br />
      pass:Google123? <br />
    </h6>

    to get access to <span class="text-c2">settings</span> section
    <span class="text-c3">(it is only accessible by this admin account)</span>
  </div>
</section>
