<section class="my-5">
  <h1 class="display-4 text-center text-c2">
    Profile Details
    <mat-icon class="display-4"> account_circle </mat-icon>
  </h1>
  <i [routerLink]="['/authors']" class="material-icons large">arrow_back</i>
  <p class="text-c2 lead mb-3 ml-2 d-inline-block">Back</p>
  <div class="row justify-self-start">
    <div class="col">
      <mat-card class="mt-3" *ngIf="activeAuthor; else noactiveAuthor">
        <mat-card-header class="my-3 d-block mx-auto">
          <mat-card-title class="text-c1 text-center w-100">{{
            activeAuthor.name
          }}</mat-card-title>
          <mat-card-subtitle class="text-muted text-center w-100">
            {{ activeAuthor.username }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="d-flex justify-content-around">
          <mat-list>
            <mat-list-item class="my-2">
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <div mat-line class="text-muted">Email</div>
              <div mat-line>{{ activeAuthor.email | titlecase }}</div>
            </mat-list-item>

            <mat-list-item class="my-2">
              <mat-icon mat-list-icon (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <div mat-line class="text-muted">Id</div>

              <div mat-line [ngClass]="{ 'text-c2 ': !hide }">
                {{ hide ? "Password Protected" : index }}
              </div>
            </mat-list-item>
            <mat-list-item class="my-2">
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <div mat-line class="text-muted">Phone</div>
              <div mat-line>{{ activeAuthor.phone }}</div>
            </mat-list-item>

            <mat-list-item class="my-2">
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <div mat-line class="text-muted">City</div>
              <div mat-line>{{ activeAuthor.address.city | titlecase }}</div>
            </mat-list-item>
            <mat-list-item class="my-2">
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <div mat-line class="text-muted">Age</div>
              <div mat-line>{{ activeAuthor.company.name }} years old</div>
            </mat-list-item>
            <mat-list-item class="my-2">
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <div mat-line class="text-muted">Joined date :</div>
              <div mat-line>
                {{ activeAuthor.joind.toDate() | date: "short" }}
              </div>
            </mat-list-item>
          </mat-list>
          <!-- <section *ngIf="activeAuthor.hobbies.length > 0" class="my-2">
              <mat-divider class="d-block my-2"></mat-divider>
              <label class="mt-5 text-muted"> Hobbies</label>
              <mat-selection-list [multiple]="false">
                <mat-list-option
                  *ngFor="let hobby of activeAuthor.hobbies; index as i"
                  [value]="hobby"
                  [class]="i % 2 == 0 ? 'bg-light' : ''"
                >
                  {{ hobby }}
                </mat-list-option>
              </mat-selection-list>
            </section> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<!-- <article>
    <div class="row d-flex flex-column justify-content-around my-5">
      <p class="text-danger alert alert-danger text-center">
        No Author found with this name !!
  
      </p>
    </div>
  </article> -->
<ng-template #noactiveAuthor>
  <div class="alert alert-danger my-5 text-center" role="alert">
    <strong class="lead">No infos activeAuthor found !!</strong>
  </div>
</ng-template>
