section form > *:not(.sub) {
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.mat-form-field {
  width: 50% !important;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
button,
a,
i,
svg {
  border: 0 !important;
  outline: 0 !important;
}
