mat-sidenav {
  width: 250px !important;
}
button,
a,
i,
svg {
  border: 0 !important;
  outline: 0 !important;
}
mat-sidenav-content {
  height: 100%;
}

mat-icon {
  cursor: pointer !important;
  border: 0 !important;
  outline: 0 !important;
}
router-outlet {
  min-height: 100vh !important;
}
