<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" class="pl-3">
    <app-navbar
      [authState]="isAuth"
      [sideNav]="side"
      (onSignOut)="onLogout($event)"
    ></app-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar [sideNav]="side" [authState]="isAuth"></app-toolbar>
    <div class="container">
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
    </div>
    <footer class="bg-c2 p-5 mt-5">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <p class="h6 text-light">
              Copyright&copy; <span class="h5">Moulahi Js</span> 2021
            </p>
          </div>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
