<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" class="pl-3">
    <h3 class="lead text-info mt-3">Welcome Josh</h3>
    <mat-nav-list class="mt-5">
      <a
        *ngIf="isAuth"
        routerLink="/"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact:true}"
        mat-list-item
        (click)="sideNav.close()"
      >
        Home <mat-icon color="primary" class="ml-2"> home </mat-icon>
      </a>
      <a
        *ngIf="!isAuth"
        routerLink="/signup"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact:true}"
        mat-list-item
        (click)="sideNav.close()"
      >
        SignUp <mat-icon color="primary" class="ml-2">face </mat-icon>
      </a>
      <a
        *ngIf="!isAuth"
        routerLink="/login"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact:true}"
        mat-list-item
        (click)="sideNav.close()"
      >
        SignIn <mat-icon color="primary" class="ml-2">create </mat-icon>
      </a>
      <a
        *ngIf="isAuth"
        routerLink="/"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact:true}"
        mat-list-item
        (click)="sideNav.close()"
        (click)="onLogout()"
      >
        Logout <mat-icon color="primary" class="ml-2"> input </mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon class="ml-2 mt-3" color="primary" (click)="sideNav.toggle()"
      >menu
    </mat-icon>
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
    <!-- 
    <app-test></app-test> -->
  </mat-sidenav-content>
</mat-sidenav-container>
