<section class="mt-5 mx-auto">
  <h1 class="display-3 text-center text-danger">Login</h1>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="d-flex flex-column justify-content-between w-75 m-auto"
  >
    <mat-form-field
      appearance="standard"
      hintLabel="email synthaxe is important"
    >
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        name="email"
        matInput
        placeholder="your email"
        type="email"
      />
      <mat-error *ngIf="loginForm.get('email').errors?.required">
        email is requierd</mat-error
      >
      <mat-error *ngIf="loginForm.get('email').errors?.email">
        email is false</mat-error
      >
      <mat-hint align="end">
        {{ loginForm.get("email").value?.length }} /100
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password *</mat-label>
      <input
        formControlName="password"
        name="password"
        #pass
        matInput
        [type]="hide ? 'password' : 'text'"
        type="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      [disabled]="!loginForm.valid"
      type="submit"
      mat-raised-button
      color="warn"
      class="sub d-block mx-auto"
      style="width: 20%"
    >
      Submit
    </button>
  </form>
</section>
