<section class="my-2 ml-auto d-flex justify-content-around">
  <!-- search inside articles-->
  <mat-card>
    <form [formGroup]="searchForm" (keyup)="onSubmit()">
      <mat-form-field apparence="fill" color="warn">
        <input
          name="term"
          type="text"
          placeholder="search inside article"
          matInput
          formControlName="term"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of tags" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card>
  <!-- fetch articles-->
  <form [formGroup]="fetchForm" (ngSubmit)="onFetching()">
    <mat-form-field apparence="fill" color="primary">
      <input
        matInput
        name="term"
        type="text"
        placeholder="search .."
        formControlName="query"
      />
    </mat-form-field>
    <button
      [disabled]="!fetchForm.valid"
      type="submit"
      mat-raised-button
      color="warn"
      class="mr-2"
    >
      Search
    </button>
  </form>
</section>
