<section class="my-2 ml-auto d-flex justify-content-around">
  <!-- search inside articles-->
  <app-filter-search (onSearch)="searchArticle($event)"></app-filter-search>

  <!-- fetch articles-->
  <form [formGroup]="fetchForm" (ngSubmit)="onFetching()">
    <mat-form-field apparence="fill" color="primary">
      <input
        matInput
        name="term"
        type="text"
        placeholder="Search .."
        formControlName="query"
      />
    </mat-form-field>
    <button
      [disabled]="!fetchForm.valid"
      type="submit"
      mat-raised-button
      color="warn"
      class="ml-2 d-none d-sm-inline-block"
    >
      Search
    </button>
  </form>
</section>
