<mat-card
  class="m-0 p-2 text-center d-flex flex-column justify-content-around w-100 mx-auto dflex"
  [ngClass]="
    wheather.icon?.includes('n') ? 'bg-dark text-light' : 'bg-light text-dark'
  "
>
  <p class="text-center lead font-weight-bold text-c2">Current Weather</p>
  <div class="d-flex justify-content-around">
    <span class="mx-3">
      Temp : <span class="text-c2">{{ wheather.temp }} </span> °C
    </span>

    <span class="mr-3">
      Humidity : <span class="text-c3">{{ wheather.humidity }} </span>
    </span>
  </div>

  <div class="w-100 bg-white d-flex flex-column justify-content-around">
    <p class="text-center text-muted mt-3">
      {{ wheather.icon?.includes("n") ? "Night" : "Day" }}
    </p>
    <span class="text-primary">
      {{ wheather.description | titlecase }}
    </span>
    <img
      src="http://openweathermap.org/img/wn/{{ wheather.icon }}@2x.png"
      alt=""
      class="img-fluid d-block mx-auto"
    />
  </div>
</mat-card>
