<p>
  <mat-toolbar color="warn">
    <button
      (click)="sideNav.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="h2">menu</mat-icon>
    </button>

    <span>
      <span class="h2 mb-1 ml-4 d-inline-block font-weight-normal">
        {{ newTitle | titlecase }}
      </span>
    </span>

    <!-- links -->
    <mat-nav-list class="m-auto d-none d-lg-flex">
      <mat-list-item>
        <a
          mat-list-item
          class=""
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </mat-list-item>
      <mat-list-item *ngIf="authState">
        <a
          class=""
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/news"
          >News</a
        >
      </mat-list-item>

      <mat-list-item *ngIf="authState" [hidden]="hideAuthors">
        <a
          class=""
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/authors"
          >Authors</a
        >
      </mat-list-item>

      <mat-list-item>
        <a
          class=""
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/about"
          >About</a
        >
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <!-- right icons-->
    <span class="example-spacer"> </span>
    <div class="ml-auto">
      <button
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/favorites"
        mat-icon-button
        class="favorite-icon d-none d-sm-inline-block"
        *ngIf="authState"
      >
        <mat-icon
          [matBadge]="badge <= 0 || !badge ? null : badge"
          matBadgeColor="primary"
          class="h3"
          >favorite</mat-icon
        >
      </button>
      <button
        *ngIf="authState"
        [matMenuTriggerFor]="menu"
        mat-icon-button
        class="mr-5 ml-3 d-none d-sm-inline-block"
      >
        <mat-icon color="primary" class="h3">portrait</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/account"
          mat-menu-item
        >
          <mat-icon color="primary" class="lead">person_pin</mat-icon>
          <span>Account</span>
        </button>
        <button
          mat-menu-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/settings"
        >
          <mat-icon>rule</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span (click)="onLogout()">Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</p>
