<p>
  <mat-toolbar color="warn">
    <button
      (click)="sideNav.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      <mat-icon color="primary" class="h2 mt-3 mx-2">portrait</mat-icon>
      <span class="lead pb-3 ml-2 d-inline-block"> Landing Page </span>
    </span>
    <!-- links -->
    <mat-nav-list class="m-auto d-flex">
      <mat-list-item>
        <a
          mat-list-item
          class=""
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </mat-list-item>
      <mat-list-item>
        <a
          class=""
          mat-list-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/news"
          >News</a
        >
      </mat-list-item>
      <mat-list-item>
        <a
          class=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/about"
          >About</a
        >
        <button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <!-- right icons-->
    <span class="example-spacer"> </span>
    <div class="ml-auto">
      <button
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/favorites"
        mat-icon-button
        class="favorite-icon"
      >
        <mat-icon color="" class="h3">favorite</mat-icon>
      </button>
      <button
        [matMenuTriggerFor]="menu"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon color="primary" class="h3">contact_page</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/account"
          mat-menu-item
        >
          <mat-icon color="primary" class="lead">person_pin</mat-icon>
          <span>Account</span>
        </button>
        <button
          mat-menu-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/settings"
        >
          <mat-icon>rule</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</p>
