<h2 class="text-center text-c1 my-5 display-4">Latest Posts..</h2>
<p
  id="wait"
  [ngClass]="!isAuth ? 'visible' : 'invisible'"
  class="lead font-weight-normal text-center text-c3"
>
  Please Login or Signup to see the content thank You !
</p>
<section class="row body">
  <!-- ! aside -->
  <section
    *ngIf="isAuth"
    class="col-12 d-flex flex-column flex-sm-row justify-content-between align-items-center"
  >
    <app-filter-search (onSearch)="filtring($event)"></app-filter-search>
    <app-wheather class="my-3"></app-wheather>
    <app-post-aside class="mt-2" [isAuth]="isAuth"></app-post-aside>
  </section>
  <!-- ! posts -->
  <article class="col-12 my-5" *ngFor="let post of posts; index as i">
    <mat-card #card [id]="i" class="shadow-lg rounded-lg">
      <mat-card-header
        [ngClass]="
          isAuth
            ? 'd-flex justify-content-between'
            : 'd-flex justify-content-center'
        "
      >
        <div class="text-center justify-self-start">
          <mat-card-title class="">
            {{ post.title | titlecase }}
          </mat-card-title>
          <mat-card-subtitle> {{ post.author | titlecase }} </mat-card-subtitle>
        </div>

        <div class="d-flex justify-content-around" *ngIf="isAuth">
          <mat-icon
            [routerLink]="['/posts', 'edit', post.id]"
            color="primary"
            class="mr-2 h3"
          >
            create
          </mat-icon>
          <mat-icon (click)="onDelete(post.id, post)" color="accent" class="h3">
            remove_circle</mat-icon
          >
        </div>
      </mat-card-header>
      <img
        class="imgCard img-fluid img-thumbnail d-flex mx-md-auto"
        mat-card-image
        [src]="post.image"
      />
      <mat-card-content class="text-break">
        <p class="mx-5">
          {{ bodyInner[i] | titlecase }}
        </p>
      </mat-card-content>
      <br />
      <small class="mt-3 text-muted">
        {{ post.date.toDate() | date: "short" }}
      </small>
      <mat-card-actions *ngIf="isAuth">
        <button (click)="onThumbUp(i)" mat-button>
          <mat-icon [color]="isThumbUp && i == indexUp ? 'warn' : 'primary'">
            thumb_up_alt
          </mat-icon>
        </button>
        <button (click)="onThumbDown(i)" mat-button>
          <mat-icon
            [color]="isThumbDown && i == indexDown ? 'accent' : 'primary'"
          >
            thumb_down_alt</mat-icon
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </article>
</section>

<!-- ? if error -->
<div *ngIf="isError" class="mt-5 alert alert-danger text-center my-5">
  <h4>{{ isError }}</h4>
</div>
