/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

// ! getting bootstrap costum colors :
$theme-colors: (
  "c1": #3f51b5,
  "c2": #f44336,
  "c3": #ff4081,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100% !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black !important;
}
mat-icon,
button,
a,
i,
svg {
  border: 0 !important;
  outline: 0 !important;
  cursor: pointer;
}
mat-icon,
i {
  cursor: pointer;
}
